# Virtual environments
.venv/
env/
venv/

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Build and distribution folders
build/
dist/
*.egg-info/

# Compiled extension modules
*.so
*.dylib
*.pyd

# Editor / IDE files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.sw?
*~

# macOS Finder files
.DS_Store

#  pip metadata
pip-wheel-metadata/

# Scripts and files used
*.sh
requirements.txt